[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/netdtree"]
	path = bundle/netdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
